$addBlockBetweenColor: #3f448a;

$questionColorBorder: #107fc0;

$answerColorBorder: #00b035;

$moduleActiveBorder: #00b894;
$moduleNotActiveBorder: #535353;

$moduleGoNext: #078d2f;
$moduleGoBack: #9a0505;

$moduleQuestion: #2744d5;
$moduleAnswer: #49b86e;

$moduleActivityBackground: #323131;
$moduleActivityElement: #242424;