// Background color
$primaryDark: #252527;
$darkLighter: #353538;

$primaryGreen: #00b894;
$primaryRed: #d63031;
$primaryBlue: #0984e3;
$primaryYellow: #fdcb6e;
$primaryPurple: #6c5ce7;
$primaryOrange: #e17055;

$rainbow: 
    $primaryRed,
    $primaryOrange,
    $primaryYellow,
    $primaryGreen,
    $primaryBlue,
    $primaryPurple;

/* Sizes */
$navBarHeight: 3rem;