// Background color
$luxuryDark: #030303;
$darker: #19191a;
$primaryDark: #252527;

$darkLighter: #353538;

$primaryGrey: #525252;

$primaryGreen: #00b894;
$primaryRed: #d63031;
$primaryBlue: #0984e3;
$primaryYellow: #fdcb6e;
$primaryPurple: #6c5ce7;
$primaryOrange: #e17055;

$rainbow: 
    $primaryRed,
    $primaryOrange,
    $primaryYellow,
    $primaryGreen,
    $primaryBlue,
    $primaryPurple;

/* Border radiuses */
$borderLarge: 2rem;
$borderMedium: 1rem;

/* Sizes */
$navBarHeight: 3.2rem;
$footerHeight: 1.5rem;

/* Z-index */
$navBarZIndex: 1000;
