@font-face {
    font-family: 'RadioGrotesk';
    src: url('./assets/fonts/RadioGrotesk/RadioGrotesk-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Poppins/Poppins-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}