@use './assets/fonts/fonts.scss' as *;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: #fff;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: RadioGrotesk, 
    Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  letter-spacing: 0.06em;
}